{% extends "base.html" %}
{% load static %}
{% block title %}Cart{% endblock title %}

{% block body %}


{% comment %} <head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head> {% endcomment %}

{% comment %} 
<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h6 style="text-align:center;" class="panel-title">My Cart</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Description</th>
          <th>Action</th>

        </tr>
      </thead>
      {% for p in products %}
  {% if p %}

      <tr>
        <td> {{p.name}}</td>
        <td> <img src="{% static p.product_image.url %}" alt="Profile Pic" height="50px" width="50px" /></td>
        <td>$ {{p.price}}</td>
        <td>{{p.description}}</td>

        <td><a class="btn btn-danger btn-xs" href="{% url 'remove-from-cart' p.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

      </tr>
      {%else%}
      <br><br><br>
      <h1>no products</h1>
      {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
<br><br><br>
<div style="text-align: center;">
  <button class="btn btn-danger btn-lg">Total ${{total}}</button>
  <a href="/customer-address"><button class="btn btn-success btn-lg" ><span>Purchase </span></button></a>
</div>

{% endcomment %}
  <!-- Cart Start -->
  {% comment %} <div class="container-fluid pt-5">
    <h1 class="text-center mb-4">Cart</h1>

    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr>
                        <td class="align-middle"><img src="{% static 'img/product-5.jpg' %}" alt="" style="width: 50px;"> Colorful Stylish Shirt</td>
                        <td class="align-middle">$150</td>
                        <td class="align-middle">
                        
					<div class="qty mt-2">
                        <span class="minus bg-dark">-</span>
                        <input type="number" class="count" name="qty" value="1">
                        <span class="plus bg-dark">+</span>
                    </div>
                        </td>
                        <td class="align-middle">$150</td>
                        <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">$150</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">$160</h5>
                    </div>
                    <a href="/checkout"><button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button></a>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- Cart End -->


   <!-- Breadcrumb Section Begin -->
   <section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/products">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->



    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-8">
                  <div class="shopping__cart__table">
                      <table>
                          <thead>
                              <tr>
                                  <th>Product</th>
                                  <th>Quantity</th>
                                  <th>Total</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="product__cart__item">
                                      <div class="product__cart__item__pic">
                                          <img src="{% static 'img/shopping-cart/cart-1.jpg' %}" alt="">
                                      </div>
                                      <div class="product__cart__item__text">
                                          <h6>T-shirt Contrast Pocket</h6>
                                          <h5>$98.49</h5>
                                      </div>
                                  </td>
                                  <td class="quantity__item">
                                      <div class="quantity">
                                          <div class="pro-qty-2">
                                              <input type="text" value="1">
                                          </div>
                                      </div>
                                  </td>
                                  <td class="cart__price">$ 30.00</td>
                                  <td class="cart__close"><i class="fa fa-close"></i></td>
                              </tr>
                              <tr>
                                  <td class="product__cart__item">
                                      <div class="product__cart__item__pic">
                                          <img src="{% static 'img/shopping-cart/cart-2.jpg' %}" alt="">
                                      </div>
                                      <div class="product__cart__item__text">
                                          <h6>Diagonal Textured Cap</h6>
                                          <h5>$98.49</h5>
                                      </div>
                                  </td>
                                  <td class="quantity__item">
                                      <div class="quantity">
                                          <div class="pro-qty-2">
                                              <input type="text" value="1">
                                          </div>
                                      </div>
                                  </td>
                                  <td class="cart__price">$ 32.50</td>
                                  <td class="cart__close"><i class="fa fa-close"></i></td>
                              </tr>
                              <tr>
                                  <td class="product__cart__item">
                                      <div class="product__cart__item__pic">
                                          <img src="{% static 'img/shopping-cart/cart-3.jpg' %}" alt="">
                                      </div>
                                      <div class="product__cart__item__text">
                                          <h6>Basic Flowing Scarf</h6>
                                          <h5>$98.49</h5>
                                      </div>
                                  </td>
                                  <td class="quantity__item">
                                      <div class="quantity">
                                          <div class="pro-qty-2">
                                              <input type="text" value="1">
                                          </div>
                                      </div>
                                  </td>
                                  <td class="cart__price">$ 47.00</td>
                                  <td class="cart__close"><i class="fa fa-close"></i></td>
                              </tr>
                              <tr>
                                  <td class="product__cart__item">
                                      <div class="product__cart__item__pic">
                                          <img src="{% static 'img/shopping-cart/cart-4.jpg' %}" alt="">
                                      </div>
                                      <div class="product__cart__item__text">
                                          <h6>Basic Flowing Scarf</h6>
                                          <h5>$98.49</h5>
                                      </div>
                                  </td>
                                  <td class="quantity__item">
                                      <div class="quantity">
                                          <div class="pro-qty-2">
                                              <input type="text" value="1">
                                          </div>
                                      </div>
                                  </td>
                                  <td class="cart__price">$ 30.00</td>
                                  <td class="cart__close"><i class="fa fa-close"></i></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6">
                          <div class="continue__btn">
                              <a href="/">Continue Shopping</a>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                          <div class="continue__btn update__btn">
                              <a href="/products/cart"><i class="fa fa-spinner"></i> Update cart</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
              
                  <div class="cart__total">
                      <h6>Cart total</h6>
                      <ul>
                          <li>Subtotal <span>$ 169.50</span></li>
                          <li>Total <span>$ 169.50</span></li>
                      </ul>
                      <a href="/products/checkout" class="primary-btn">Proceed to checkout</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Shopping Cart Section End -->

{% endblock body %}