{% extends "base.html" %}
{% load static %}
{% block title %}Product Details{% endblock title %}

{% block body %}


<!-- content -->
<section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{% static 'img/product-1.jpg' %}" />
            </a>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big1.webp" class="item-thumb">
              <img width="60" height="60" class="rounded-2" src="{% static 'img/product-1.jpg' %}" />
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big2.webp" class="item-thumb">
              <img width="60" height="60" class="rounded-2" src="{% static 'img/product-1.jpg' %}" />
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big3.webp" class="item-thumb">
              <img width="60" height="60" class="rounded-2" src="{% static 'img/product-1.jpg' %}" />
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big4.webp" class="item-thumb">
              <img width="60" height="60" class="rounded-2" src="{% static 'img/product-1.jpg' %}" />
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp" class="item-thumb">
              <img width="60" height="60" class="rounded-2" src="{% static 'img/product-1.jpg' %}" />
            </a>
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              Quality Men's Hoodie for Winter, Men's Fashion <br />
              Casual Hoodie
            </h4>
  
            <div class="mb-3">
              <span class="h5" style="color:red;font-weight:bold"> $75.00</span>
            </div>
  
            <p>
              Modern look and quality demo item is a streetwear-inspired collection that continues to break away from the conventions of mainstream fashion. Made in Italy, these black and brown clothing low-top shirts for
              men.
            </p>
            <div class="product__details__option">
              <div class="product__details__option__size">
                  <span>Size:</span>
                  <label for="xxl">xxl
                      <input type="radio" id="xxl">
                  </label>
                  <label class="active" for="xl">xl
                      <input type="radio" id="xl">
                  </label>
                  <label for="l">l
                      <input type="radio" id="l">
                  </label>
                  <label for="sm">s
                      <input type="radio" id="sm">
                  </label>
              </div>
              <div class="product__details__option__color">
                  <span>Color:</span>
                  <label class="c-1" for="sp-1">
                      <input type="radio" id="sp-1">
                  </label>
                  <label class="c-2" for="sp-2">
                      <input type="radio" id="sp-2">
                  </label>
                  <label class="c-3" for="sp-3">
                      <input type="radio" id="sp-3">
                  </label>
                  <label class="c-4" for="sp-4">
                      <input type="radio" id="sp-4">
                  </label>
                  <label class="c-9" for="sp-9">
                      <input type="radio" id="sp-9">
                  </label>
              </div>
          </div>
          <div class="product__details__cart__option">
              <div class="quantity">
                  <div class="pro-qty">
                      <input type="text" value="1">
                  </div>
              </div>
              <a href="#" class="primary-btn">add to cart</a>
            </div> </div>
      
            <button style="background-color: red; text-align: center; color: white; cursor: pointer;"
            onmouseover="this.style.backgroundColor='green';"
            onmouseout="this.style.backgroundColor='blue';" type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
              Show Size Chart
            </button>
            
        </main>
      </div>
    </div>
  </section>
  <!-- content -->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"><strong>Size Chart</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col"><strong>SIZE</strong></th>
              <th scope="col"><strong>SHOULDER</strong></th>
              <th scope="col"><strong>BUST</strong></th>
              <th scope="col"><strong>WAIST</strong></th>
              <th scope="col"><strong>HIP</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><strong>XS</strong></th>
              <td>34.3</td>
              <td>86.6</td>
              <td>76.2</td>
              <td>91.4</td>
            </tr>
            <tr>			
            <th scope="row"><strong>S</strong></th>
            <td>35.6</td>
            <td>91.4</td>
            <td>81.3</td>
            <td>96.5</td>
          </tr>
            <tr>
              <th scope="row"><strong>M</strong></th>
              <td>36.8</td>
              <td>96.5</td>
              <td>86.4</td>
              <td>102</td>
            </tr>
            <tr>
              <th scope="row"><strong>L</strong></th>
              <td>38.1</td>
              <td>102</td>
              <td>91.4</td>
              <td>107</td>
            </tr>
            <tr>
              <th scope="row"><strong>XL</strong></th>
              <td>39.4</td>
              <td>107</td>
              <td>96.5</td>
              <td>112</td>
            </tr>
            
            <tr>
              <th scope="row"><strong>XXL</strong></th>
              <td>40.6</td>
              <td>112</td>
              <td>102</td>
              <td>117</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 
{% endblock body %}