{% extends 'ecom/homebase.html' %}
{% load static %}
{% block title %}CheckOut{% endblock title %}

{% block header %}
 <div id="intro" class="bg-image" style="
  background-image: url({% static 'images/heroimg.png' %});
  opacity:200;
  height: 90vh;
  ">
  <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="mb-2 pf">CheckOut <span style="font-family: 'Sevillana', cursive;color:#08a99e">Your</span> Order
        </h1>
        <p style="font-size:20px ">
        </p>
        <a href="#"><button class="btn1 btn-primary" onclick="scrollDown()">Scroll Down</button></a>

      </div>
    </div>
  </div>
</div>
{% endblock header %}