{% extends 'ecom/homebase.html' %}
{% load static %}
{% block title %}CheckOut{% endblock title %}

{% block header %}
<div id="intro" class="bg-image" style="
  background-image: url({% static 'images/heroimg.png' %});
  opacity:200;
  height: 50vh;
  ">
  <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="mb-2 pf">CheckOut <span style="font-family: 'Sevillana', cursive;color:#08a99e">Your</span> Order
        </h1>
        <p style="font-size:20px ">
        </p>
        <a href="#"><button class="btn1 btn-primary" onclick="scrollDown()">Scroll Down</button></a>

      </div>
    </div>
  </div>
</div>
{% endblock header %}

{% block content %}
<section class="py-3 py-md-5">
<div class="container">
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">{{cart_item_count}}</span>
      </h4>
      <ul class="list-group mb-3">
        {% for product in products %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{product.name}}</h6>
          </div>
        </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>{{total}}-PKR</strong>
        </li>
      </ul>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>
      {% for message in url_messages %}
      <div class="alert {{ message.tags }}  alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ message | safe }}
      </div>
    {% endfor %}
      <form  action="/checkout/" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstname" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastname" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted"></span></label>
          <input type="email" class="form-control" name="email" required id="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>
        <div class="mb-3">
          <label for="email">Phone <span class="text-muted"></span></label>
          <input type="number" class="form-control" name="phone" required id="email" placeholder="+92-311-222-2234">
          <div class="invalid-feedback">
            Please Enter a valid Phone Number for Shipping Updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" name='address' id="address" placeholder="1234 Main St" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <hr class="mb-4">
{% comment %} 
        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">Credit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="debit">Debit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="paypal">Paypal</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required>
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required>
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div> {% endcomment %}
        <hr class="mb-4">
        <button class="btn1 btn-primary btn-lg" type="submit">Continue to checkout</button>
      </form>
    </div>
  </section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('checkoutForm').addEventListener('submit', function (event) {
        if (!validateForm()) {
            event.preventDefault();  // Prevent form submission
            alert('Please fill out all required fields.');
        }
    });

    function validateForm() {
        var requiredFields = document.querySelectorAll('.needs-validation [required]');
        var isValid = true;

        requiredFields.forEach(function (field) {
            if (!field.value.trim()) {
                isValid = false;
                field.classList.add('is-invalid');
            } else {
                field.classList.remove('is-invalid');
            }
        });

        return isValid;
    }
});
</script>
{% endblock content %}