{% extends 'ecom/homebase.html' %}
{% load static %}
{% block title %}Message Sent{% endblock title %}
{% block header %}
 <div id="intro" class="bg-image" style="
  height: 90vh;
  ">
  <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="mb-2 pf">Message <span style="font-family: 'Sevillana', cursive;color:#08a99e">Sent</span> Successfully
        </h1>
        <p style="font-size:20px ">
          We Will Get Back To You As Soon As Possible
        </p>
        <a href="/"><button class="btn1 btn-primary">Continue Shopping</button></a>

      </div>
    </div>
  </div>
</div>
{% endblock header %}
