{% extends 'ecom/homebase.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block header %}
<div id="intro" class="bg-image">
  <div class="mask text-white">
    <div class="container d-flex align-items-center text-center h-100">
      <div class="d-flex flex-column justify-content-center align-items-center mx-auto">
        <h2 class="mb-2 pf">TRADITIONIAA</h2>
        <p style="font-size: 20px;">
          Tradition is the illusion
          of permanence.
        </p>
        <a href="/order"><button class="btn1 btn-primary">Place Your Order</button></a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock header %}

{% block content %}

<section class="container  d-flex justify-content-around my-5 flex-column flex-md-row">
  <div class="d-flex align-items-center justify-content-center">
    <img src="https://zuriador.com/cdn/shop/files/Lena-01_c5d734fa-c146-4919-a5f9-45db08d8180b.jpg" width="50%" height="90%" loading="lazy"/>
  </div>
  <div class="home-about d-flex align-items-start flex-column w-100 w-lg-50">
    <h2 style="font-weight:900" class="pf my-2">TRADITIONIAA</h2>
    <h4 class="my-4 pf drescraft" style="color:#00a99e; font-size:14px">DRESSCRAFT</h4>
    <p class="text-justify">
      Embark on a sartorial journey with our stitching and customized dress provider website, where every stitch tells a unique story of personalized elegance. At our virtual atelier, we offer a seamless experience from concept to creation, allowing you to translate your style aspirations into bespoke garments that reflect your individuality. Our skilled artisans and cutting-edge technology collaborate to bring your visions to life, ensuring each garment is a tailor-made masterpiece. Whether it's a special occasion gown or an everyday ensemble, our website is your one-stop destination for unparalleled craftsmanship and a wardrobe that celebrates your distinct style.
    </p>
    <a href="/about"><button class="btn1 btn-primary">Learn More About Us</button></a>
  </div>
</section>

<section style="background-color: #eee;">
  <div class="text-center container py-5">
    <h2 class="mt-4 mb-5 display-5 pf">OUR PRODUCTS</h2>
    {% for message in messages %}
        <div class="alert {{ message.tags }}  alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message | safe }}
        </div>
    
      {% endfor %}
    <div class="d-flex align-items-center justify-content-center">
    <div class="righticon me-2 me-md-4 " style="
        background: #08a99e;
        padding: 5px;
        z-index: 10000;
      ">
       <i style="font-size:30px" class="fa-solid fa-chevron-left" onclick="scrollToLeft('scrollingRow')"></i>
       </div>
    <div class="row" id="scrollingRow" style="overflow-x: auto; flex-wrap: nowrap;">
      {% for product in products %}
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card card1">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" style="
          height: 400px;
        "
            data-mdb-ripple-color="light">
            <img src="{{product.product_image}}"  alt="{{ product.name }} Image"
             />
            <a href="/productdetails/{{ product.id }}">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="/productdetails/{{ product.id }}" class="text-reset">
              <h5 class="card-title mb-3">{{product.name}}</h5>
            </a>
            <a href="/productdetails/{{ product.id }}" class="text-reset">
              <p>{{ product.description|slice:":40"|safe }}</p>
            </a>
            <h6 class="mb-3"><strong>{{product.price}}-PKR</strong></h6>
              <button class="btn1 btn-primary add-to-cart-btn" data-product-id="{{ product.id }}">Add to Cart</button>
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
    <div class="righticon ms-2 ms-md-4" style="
          background: #08a99e;
          padding: 5px;
          z-index: 10000;
      ">
    <i style="font-size:30px;" class="fa-solid fa-chevron-right" onclick="scrollToRight('scrollingRow')"></i>
    </div>
  </div>
  </div>
</section>

<section class="py-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center pf">HOW IT WORKS</h2>
        <p class="text-secondary mb-5 text-center pf">Effortlessly transform your ideas into reality with our streamlined stitching services website process, blending precision and creativity for a perfect fit.</p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>

  <div class="container justify-content-center d-flex flex-column flex-lg-row flex-md-column">
    <div class="col-lg-3 col-md-6 col-sm-12 text-center px-xl-2">
      <span class="fa fa-mouse-pointer" style="font-size:50px ;color:#00a99e !important;margin: 11% 0"></span>
      <h5 class="m-2 pf font-weight-bold" style="margin-bottom: 30px !important;">PLACE YOUR ORDER</h5>
      <p class="m-0 text-secondary text-justify">International customers are advised to place orders on WhatsApp <a href="https://api.whatsapp.com/send?phone=923154419916">(+92 3154419916)</a> . The shipping charges will depend upon weight. Once you've confirmed the order, our customer support representative will let you know the shipping charges.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center px-xl-2">
      <span class="fa fa-scissors" style="font-size:50px ;color:#00a99e !important;margin: 11% 0"></span>
      <h5 class="m-2 pf font-weight-bold"style="margin-bottom: 30px !important;">STITCH IN PROGRESS</h5>
      <p class="m-0 text-secondary text-justify">Our experienced and talented tailors will stitch the dresses according to the size provided by customers. The size and design will be discussed over WhatsApp.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center px-xl-2">
      <span class="fa fa-truck" style="font-size:50px ;color:#00a99e !important;margin: 11% 0"></span>
      <h5 class="m-2 pf font-weight-bold"style="margin-bottom: 30px !important;">Shipment Method</h5>
      <p class="m-0 text-secondary text-justify">Once we receive the payment, the order is properly checked and then dispatched through an international courier company, i.e., DHL or Skynet. Standard delivery time is 8-10 days.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center px-xl-2">
      <span class="fa fa-money" style="font-size:50px ;color:#00a99e !important;margin: 11% 0"></span>
      <h5 class="m-2 pf font-weight-bold"style="margin-bottom: 30px !important;">Payment Method</h5>
      <p class="m-0 text-secondary text-justify">We receive payment directly in our bank account or through Western Union. Details of which will be shared with you once the order is confirmed.</p>
    </div>

  </div>
 </div>
 <div class="d-flex justify-content-center align-items-center">
 <button class="btn1 my-5 btn-primary"><a href="/order">Place Your Order</a></button> 
 </div>
</section>


<section class="mb-5" style="background-color: #eee;"> 
  <div class="container p-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h2 class="mb-4 pf display-5 ">Testimonials</h2>
      <p class="mb-4 pb-2 mb-md-5 pb-md-0">
        Testimonials, the Genuine Voices of Satisfied Customers, Serve as Glowing Endorsements That Illuminate the Exceptional Quality, Reliability, and Satisfaction Derived from a Product or Service.
      </p>
    </div>
  </div>

  <div class="row text-center d-flex align-items-stretch">
    <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #9d789b;"></div>
      
        <div class="card-body">
          <h4 class="mb-4">Maryam</h4>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>LMy clothes were transformed with Traditioniaa stitching, and the final results exceeded my expectations. I highly recommend their services to anyone looking for top-notch stitching and alterations.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #7a81a8;"></div>
    
        <div class="card-body">
          <h4 class="mb-4">Fatima</h4>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i> The personalized attention I received from their friendly and professional staff made the entire experience enjoyable. Traditioniaa has earned my trust, and I'll certainly be returning for all my future stitching needs.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-0 d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #6d5b98;"></div>

        <div class="card-body">
          <h4 class="mb-4">Saria</h4>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>If you're in search of a reliable and skilled stitching service, look no further than Traditioniaa Stitches. Their commitment to excellence is truly commendable.
          </p>
        </div>
      </div>
    </div>
  </div>
 </div>
</section>

{% endblock content %}