{% extends 'ecom/homebase.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block header %}
<div id="intro" class="bg-image" style="
background-image: url({% static 'images/heroimg.png' %});
opacity:200;
height: 90vh;
">
  <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="container d-flex align-items-center text-center h-100">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="mb-2 pf">ONLINE <span style="font-family: 'Sevillana', cursive;color:#08a99e">stiching</span> SERVICE
        </h1>
        <p style="font-size:20px ">
          From Measurements to Masterpiece: Redefine Your Wardrobe Effortlessly. Explore Our Online <span style="color:#08a99e">Stitching Service</span> and Step Into a World of Personalized Fashion That Fits You, Inside and Out.
        </p>
        <button class="btn1 btn-primary">Place Your Order</button>
      </div>
    </div>
  </div>
</div>
{% endblock header %}

{% block content %}

<section class="container  d-flex justify-content-around my-5 flex-column flex-md-row">
  <div class="d-flex align-items-center justify-content-center">
    <img src="https://zuriador.com/cdn/shop/files/Lena-01_c5d734fa-c146-4919-a5f9-45db08d8180b.jpg" width="50%" height="90%" loading="lazy"/>
  </div>
  <div class="home-about d-flex align-items-start flex-column w-100 w-lg-50">
    <h2 style="font-weight:900" class="pf my-2">TRADITIONIAA</h2>
    <h4 class="my-4 pf drescraft" style="color:#00a99e; font-size:14px">DRESSCRAFT</h4>
    <p class="text-justify">
      Embark on a sartorial journey with our stitching and customized dress provider website, where every stitch tells a unique story of personalized elegance. At our virtual atelier, we offer a seamless experience from concept to creation, allowing you to translate your style aspirations into bespoke garments that reflect your individuality. Our skilled artisans and cutting-edge technology collaborate to bring your visions to life, ensuring each garment is a tailor-made masterpiece. Whether it's a special occasion gown or an everyday ensemble, our website is your one-stop destination for unparalleled craftsmanship and a wardrobe that celebrates your distinct style.
    </p>
    <a href="/about"><button class="btn1 btn-primary">Learn More About Us</button></a>
  </div>
</section>

<section style="background-color: #eee;">
  <div class="text-center container py-5">
    <h2 class="mt-4 mb-5 display-5 pf">OUR PRODUCTS</h2>
    <div class="d-flex align-items-center justify-content-center">
    <i style="font-size:30px" class="me-4 fa-solid fa-arrow-left-long" onclick="scrollToLeft('scrollingRow')"></i>
    <div class="row" id="scrollingRow" style="overflow-x: auto; flex-wrap: nowrap;">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" style="
          height: 400px;
        "
            data-mdb-ripple-color="light">
            <img src="https://i.pinimg.com/736x/7b/d2/02/7bd202568e5c7e6d2fb2d829cec39635.jpg"
             />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">Red Bridal Dress</h5>
            </a>
            <a href="" class="text-reset">
              <p>Can be Customized</p>
            </a>
            <h6 class="mb-3"><strong>20,000 RS</strong></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" style="
          height: 400px;
        "
            data-mdb-ripple-color="light">
            <img src="https://i.pinimg.com/550x/82/f6/27/82f62714620c6cd3715d806c130d2deb.jpg"
               />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">White Bridal Dress/h5>
            </a>
            <a href="" class="text-reset">
              <p>Can be Customized</p>
            </a>
            <h6 class="mb-3"><strong>22,000 RS</strong></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="
          height: 400px;
        ">
            <img src="https://i.pinimg.com/originals/11/62/19/116219a604923b6d7020ebdea1e14ad5.jpg"
            />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">Pink Bridal Dress</h5>
            </a>
            <a href="" class="text-reset">
              <p>Can be Customized</p>
            </a>
            <h6 class="mb-3">
            <h6 class="mb-3"><strong><s>25,000 RS</s></strong><strong class="ms-2 text-danger">23,000 RS</strong></h6>

            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" style="
          height: 400px;
        "
            data-mdb-ripple-color="light">
            <img src="https://i.pinimg.com/736x/7b/d2/02/7bd202568e5c7e6d2fb2d829cec39635.jpg"
             />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">Red Bridal Dress</h5>
            </a>
            <a href="" class="text-reset">
              <p>Can be Customized</p>
            </a>
            <h6 class="mb-3"><strong>20,000 RS</strong></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" style="
          height: 400px;
        "
            data-mdb-ripple-color="light">
            <img src="https://i.pinimg.com/550x/82/f6/27/82f62714620c6cd3715d806c130d2deb.jpg"
               />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">White Bridal Dress/h5>
            </a>
            <a href="" class="text-reset">
              <p>Can be Customized</p>
            </a>
            <h6 class="mb-3"><strong>22,000 RS</strong></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="
          height: 400px;
        ">
            <img src="https://i.pinimg.com/originals/11/62/19/116219a604923b6d7020ebdea1e14ad5.jpg"
            />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">Pink Bridal Dress</h5>
            </a>
            <a href="" class="text-reset">
              <p>Can be Customized</p>
            </a>
            <h6 class="mb-3">
            <h6 class="mb-3"><strong><s>25,000 RS</s></strong><strong class="ms-2 text-danger">23,000 RS</strong></h6>

            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" style="
          height: 400px;
        "
            data-mdb-ripple-color="light">
            <img src="https://i.pinimg.com/736x/7b/d2/02/7bd202568e5c7e6d2fb2d829cec39635.jpg"
             />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">Red Bridal Dress</h5>
            </a>
            <a href="" class="text-reset">
              <p>Can be Customized</p>
            </a>
            <h6 class="mb-3"><strong>20,000 RS</strong></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" style="
          height: 400px;
        "
            data-mdb-ripple-color="light">
            <img src="https://i.pinimg.com/550x/82/f6/27/82f62714620c6cd3715d806c130d2deb.jpg"
               />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">White Bridal Dress/h5>
            </a>
            <a href="" class="text-reset">
              <p>Can be Customized</p>
            </a>
            <h6 class="mb-3"><strong>22,000 RS</strong></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="
          height: 400px;
        ">
            <img src="https://i.pinimg.com/originals/11/62/19/116219a604923b6d7020ebdea1e14ad5.jpg"
            />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">Pink Bridal Dress</h5>
            </a>
            <a href="" class="text-reset">
              <p>Can be Customized</p>
            </a>
            <h6 class="mb-3">
            <h6 class="mb-3"><strong><s>25,000 RS</s></strong><strong class="ms-2 text-danger">23,000 RS</strong></h6>

            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" style="
          height: 400px;
        "
            data-mdb-ripple-color="light">
            <img src="https://i.pinimg.com/736x/7b/d2/02/7bd202568e5c7e6d2fb2d829cec39635.jpg"
             />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">Red Bridal Dress</h5>
            </a>
            <a href="" class="text-reset">
              <p>Can be Customized</p>
            </a>
            <h6 class="mb-3"><strong>20,000 RS</strong></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" style="
          height: 400px;
        "
            data-mdb-ripple-color="light">
            <img src="https://i.pinimg.com/550x/82/f6/27/82f62714620c6cd3715d806c130d2deb.jpg"
               />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">White Bridal Dress/h5>
            </a>
            <a href="" class="text-reset">
              <p>Can be Customized</p>
            </a>
            <h6 class="mb-3"><strong>22,000 RS</strong></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="
          height: 400px;
        ">
            <img src="https://i.pinimg.com/originals/11/62/19/116219a604923b6d7020ebdea1e14ad5.jpg"
            />
            <a href="#!">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">Pink Bridal Dress</h5>
            </a>
            <a href="" class="text-reset">
              <p>Can be Customized</p>
            </a>
            <h6 class="mb-3">
            <h6 class="mb-3"><strong><s>25,000 RS</s></strong><strong class="ms-2 text-danger">23,000 RS</strong></h6>

            </h6>
          </div>
        </div>
      </div>
    </div>
    <i style="font-size:30px" class="ms-4 fa-solid fa-arrow-right-long" onclick="scrollToRight('scrollingRow')"></i>

  </div>
  </div>
</section>

<section class="py-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center pf">HOW IT WORKS</h2>
        <p class="text-secondary mb-5 text-center pf">Effortlessly transform your ideas into reality with our streamlined stitching services website process, blending precision and creativity for a perfect fit.</p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>

  <div class="container justify-content-center d-flex flex-column flex-md-row">
    <div class="text-center px-xl-2">
      <span class="fa fa-mouse-pointer" style="font-size:50px ;color:#00a99e !important;margin: 11% 0"></span>
      <h5 class="m-2 pf font-weight-bold" style="margin-bottom: 30px !important;">PLACE YOUR ORDER</h5>
      <p class="m-0 text-secondary"><a href="/order">Place your order</a> online to book a stitch at your home or you can also place an order by visiting our workshop.</p>
    </div>
    <div class="text-center px-xl-2">
      <span class="fa fa-motorcycle" style="font-size:50px ;color:#00a99e !important;margin: 11% 0"></span>
      <h5 class="m-2 pf font-weight-bold"style="margin-bottom: 30px !important;">PICKING YOUR SAMPLE DRESS
      </h5>
      <p class="m-0 text-secondary">The rider will come to pick your dress material along with the sample dress that fits you perfectly or hand over it on our workshop.</p>
    </div>
    <div class="text-center px-xl-2">
      <span class="fa fa-scissors" style="font-size:50px ;color:#00a99e !important;margin: 11% 0"></span>
      <h5 class="m-2 pf font-weight-bold"style="margin-bottom: 30px !important;">STITCH IN PROGRESS</h5>
      <p class="m-0 text-secondary">We will stitch the design of your choices or you can select designs from our product design catalog.</p>
    </div>
    <div class="text-center px-xl-2">
      <span class="fa fa-truck" style="font-size:50px ;color:#00a99e !important;margin: 11% 0"></span>
      <h5 class="m-2 pf font-weight-bold"style="margin-bottom: 30px !important;">DELIVERY IN 7 DAYS</h5>
      <p class="m-0 text-secondary">Your custom-tailored dress along with your sample dress will be properly packaged and it will be safely and securely delivered at your doorstep within 7-10 days</p>
    </div>
    <div class="text-center px-xl-2">
      <span class="fa fa-money" style="font-size:50px ;color:#00a99e !important;margin: 11% 0"></span>
      <h5 class="m-2 pf font-weight-bold"style="margin-bottom: 30px !important;">CASH ON DELIVERY</h5>
      <p class="m-0 text-secondary">Cash on delivery service, pay by cash after you receive your newly stitched cloth (Other payment methods are also available).</p>
    </div>

  </div>
 </div>
 <div class="d-flex justify-content-center align-items-center">
 <button class="btn1 my-5 btn-primary"><a href="/order">Place Your Order</a></button> 
 </div>
</section>


<section class="mb-5" style="background-color: #eee;"> 
  <div class="container p-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h2 class="mb-4 pf display-5 ">Testimonials</h2>
      <p class="mb-4 pb-2 mb-md-5 pb-md-0">
        Testimonials, the Genuine Voices of Satisfied Customers, Serve as Glowing Endorsements That Illuminate the Exceptional Quality, Reliability, and Satisfaction Derived from a Product or Service.
      </p>
    </div>
  </div>

  <div class="row text-center d-flex align-items-stretch">
    <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #9d789b;"></div>
        <div class="avatar mx-auto bg-white">
          <img src="https://png.pngtree.com/png-vector/20190329/ourmid/pngtree-vector-avatar-icon-png-image_889567.jpg"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h4 class="mb-4">Maria Smantha</h4>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>LMy clothes were transformed with meticulous stitching, and the final results exceeded my expectations. I highly recommend their services to anyone looking for top-notch stitching and alterations.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #7a81a8;"></div>
        <div class="avatar mx-auto bg-white">
          <img src="https://png.pngtree.com/png-vector/20190329/ourmid/pngtree-vector-avatar-icon-png-image_889567.jpg"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h4 class="mb-4">Lisa Cudrow</h4>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i> The personalized attention I received from their friendly and professional staff made the entire experience enjoyable. TailorLux has earned my trust, and I'll certainly be returning for all my future stitching needs.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-0 d-flex align-items-stretch">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #6d5b98;"></div>
        <div class="avatar mx-auto bg-white">
          <img src="https://png.pngtree.com/png-vector/20190329/ourmid/pngtree-vector-avatar-icon-png-image_889567.jpg"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h4 class="mb-4">John Smith</h4>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>If you're in search of a reliable and skilled stitching service, look no further than Elegant Stitches. Their commitment to excellence is truly commendable.
          </p>
        </div>
      </div>
    </div>
  </div>
 </div>
</section>

{% endblock content %}