{% extends 'ecom/homebase.html' %}
{% load static %}
{% block title %}CheckOut{% endblock title %}

{% block header %}
 <div id="intro" class="bg-image" style="
  height: 50vh;
  ">
  <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="mb-2 pf">Return <span style="font-family: 'Sevillana', cursive;color:#08a99e"></span> Policy
        </h1>
        <p style="font-size:20px ">
        </p>
        <a href="#"><button class="btn1 btn-primary" onclick="scrollDown()">Scroll Down</button></a>

      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block content %}
<div class="container my-4 refcont">
  <section>
      <h2>Overview</h2>
      <p>This Refund Policy outlines the terms and conditions for requesting and processing refunds for products purchased from Stitch & Bride ("we," "our," or "us"). Your satisfaction is our priority, and we strive to provide transparent and fair solutions for any concerns you may have regarding your purchases.</p>
  </section>

  <section>
      <h2>Eligibility for Refund</h2>
      <p>You may be eligible for a refund if:
      <ul>
          <li>The product is defective or damaged upon receipt.</li>
          <li>You received the wrong item.</li>
          <li>The product does not meet your expectations, and it is within the specified return period.</li>
      </ul>
      Please note that certain products may be exempt from refunds based on hygiene and safety regulations.</p>
  </section>

  <section>
      <h2>Refund Process</h2>
      <p>To initiate a refund, please contact our customer support team within [number of days] days of receiving the product. Provide detailed information about the issue, and our team will guide you through the necessary steps. Refunds will be processed using the original payment method, and you will be notified once the process is complete.</p>
  </section>

  <section>
      <h2>Non-Refundable Items</h2>
      <p>Some items are non-refundable, including:
      <ul >
          <li>Custom-made or personalized products.</li>
          <li>Gift cards.</li>
      </ul>
      Please check the product description before making a purchase.</p>
  </section>

  <section>
      <h2>Shipping Costs</h2>
      <p>Shipping costs are non-refundable. If you receive a refund, the cost of return shipping may be deducted from your refund amount, depending on the reason for the return.</p>
  </section>

  <section>
      <h2>Contact Us</h2>
      <p>If you have any questions or concerns about our Refund Policy, please contact our customer support team at refunds@stitchandbride.com. We are here to assist you.</p>
  </section>
</div>

{% endblock content %}